@using System.Web.Configuration
@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>

    @* Does this use the CDNs??? *@
    @Styles.Render("~/Content/bootstrap.css", "~/Content/bootstrap-theme.css", "~/Content/Style.less")
    @Scripts.Render("~/Scripts/Tracking.js") 


</head>

<body>

    @Html.Partial("Navbar")

    
        @RenderBody()

   

    @Html.Partial("Footer")


    @* Scripts --------------------------------- *@

    @*<script src="~/scripts/jquery-3.1.0.js"></script>*@
    @Scripts.Render("~/scripts/jquery-3.1.0.min.js")

    @*<script type="text/javascript">
        //load jquery if CDN fails
        if (typeof jquery == undefined) {
            var e = document.createElement('script');
            e.src = '@Url.Content("~/Scripts/jquery-{version}.js")';
            e.type = 'text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
        }
    </script>*@
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    @Scripts.Render("~/scripts/modernizr-2.8.3.js")

    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @Scripts.Render("~/scripts/bootstrap.min.js")


    @*<script src="~/scripts/CustomScript.js"></script>*@
    @Scripts.Render("~/scripts/CustomScript.js")


    @RenderSection("scripts", required: false)

</body>


</html>